/*

处理输入框等的宽度

*/

.short-input101 {
  width: 101px;
}

.short-input141 {
  width: 141px !important;
}

.short-input180 {
  width: 180px !important;
}

.short-input204 {
  width: 204px !important;
}

.short-input124 {
  width: 124px !important;
}

.short-input98 {
  width: 98px !important;
}

.margin-right17 {
  margin-right: 17px !important;
}

.lang-input{
  width: 100% !important;
}