// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#333333;
$menuActiveText:#44A8FF;
$subMenuActiveText:#333333; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#FFFFFF;
$menuHover:rgba(68,168,255,0.2);
$menuActive: rgba(68, 168, 255, 0.2);
$menuHeight: 40px;

$subMenuBg:#FFFFFF;
$subMenuHover:rgba(68, 168, 255, 0.2);

$sideBarWidth: 178px;
$navbarHeight: 60px;
$subMenuItemHeight: 40px;
$menuTitleHeight: 40px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navbarHeight: $navbarHeight;
  subMenuItemHeight: $subMenuItemHeight;
  menuTitleHeight: $menuTitleHeight;
}
